* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;

}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
}

h1 {
  text-align: center;
  position: relative;
  top: 5vh;
}

#type_1 {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: space-around;
  font-family: 'Orbitron', sans-serif;

}

.container {
  width: 30%;
  height: 58%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 1px solid #eee;
  transition: all ease .7s;
}

.container:hover {
  background-color: rgb(0, 0, 0);

}

.c2:hover {
  background-color: rgb(255, 0, 89);
}

.c3:hover {
  background-color: #3f8a86;
}

.container:hover img {
  transform: scale(1.08);
  filter: saturate(150%);
}

.container:hover .name {
  color: white;

}

.container:hover .tag {
  color: rgb(172, 172, 172);

}


.container img {
  transition: transform ease .4s, ease filter .3s;
  width: 70%;
  padding-top: 10%;

}

.container span {
  color: white;
}

.container .tag {
  color: rgb(106, 106, 106);
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 7px;
}

.container .name {
  color: rgb(22, 21, 21);
  text-transform: uppercase;
  font-size: 1.8rem;
}

/*CARD 2*/
#type_2 {
  display: flex;
  justify-content: space-between;

}


.div_img {
  height: 500px;
  width: 25vw;
  background-color: red;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;


}

.div_img img {

  transform: scale(1.3);
  transition-duration: .5s;
  transition-timing-function: ease;

}

.div_img:hover img {
  transform: scale(1.1);
}

.card_span {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgba(204, 23, 23, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  bottom: 0%;
  transition: .3s;

}

.card_span span {
  margin-bottom: 15px;
}

.card_span .span-main {
  font-size: 1.6rem;
}

.card_span .span-footer {
  font-size: .9rem;
}

.read_more {
  position: absolute;
  bottom: -40px;
  transition: bottom .2s ease;
  color: white;
  padding: 10px;
  text-decoration-line: line-through;
}

.div_img:hover .card_span {
  bottom: 55px;
}


/*CARD 3*/

/*o flip card é a base onde dp card */
.flip-card {
  background-color: red;
  width: 25vw;
  height: 600px;
  perspective: 1000px;
  /*a perspectiva 3d na hora de virar o card*/
}

/*A parte de dentro do card */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  /*tempo de transição do transform no hover abaixo */
  transform-style: preserve-3d;
  /*especifica que os elementos filhos fiquem posicionados em um espaco 3d*/
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 90.2);
}

/*quando passar o mouse pelo flip-card, o card de dentro roda 180 graus */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  animation-fill-mode: forwards;
}

/*a parte de frente e de tras terao posicoes absolutas para ocupar o mesmo espaço no contaienr*/
.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;

}

.flip-card-front {
  background-color: rgb(4, 255, 4);
  color: black;

}

.flip-card-front img {
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}